@model CurrencyConverter.Models.Conversion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conversion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conv_Input_Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conv_Input_Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conv_Input_Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conv_Input_Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conv_Output_Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conv_Output_Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conv_Output_Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conv_Output_Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conv_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conv_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Conversion_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
