@model IEnumerable<CurrencyConverter.Models.Conversion>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conv_Input_Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conv_Input_Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conv_Output_Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conv_Output_Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conv_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(x => x.Conv_Date)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conv_Input_Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conv_Input_Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conv_Output_Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conv_Output_Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conv_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Conversion_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Conversion_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Conversion_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
